name: Run Tests

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: kobtea/setup-jsonnet-action@v2
      - name: Install JSONNET dependencies
        run: cd jsonnet-example && jb install
      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "latest"
      - name: Install dependencies
        run: npm ci && npm --prefix ./foundation-sdk-example install --no-package-lock
      - name: Verify TypeScript
        run: npm run verify-typescript
      - name: Check formatting
        run: npm run check-format
      - name: Run tests
        run: npm run test
